<div id='about-me-content'>
  <%= image_tag "matt.png", id: 'matt' %>
  <h2>Matt Higgins</h2>
  <div class='column-one'>
    <p>I'm a budding web developer familiar with the Rails stack, though I'm particularly interested in UX and how to improve people's lives with technology.</p>
  </div>
  <div class='column-two'>
    <p>I am also absurdly in love with music (especially opera), foreign languages, and knitting.</p>
    <p>If you would like to connect with me regarding any of the above, please do!</p>
  </div>
  <div class='clear'></div>
</div>