<div id='logo'>
  <span id='logo'>Image/logo here</span>
  <span id='nav-links'> <!-- float right -->
    <%= link_to 'Home', root_path %>
    <%= link_to 'Portfolio', '/#portfolio-content' %>
    <%= link_to 'About Me', root_path %>
    <%= link_to 'Contact', root_path %>
  </span>
  <div id='welcome-image'> <!-- center -->
    <span>Welcome Image Here</span>
  </div>
</div>