<h2>Portfolio</h2>
<p class='italic'>Some Recent Projects</p>
<div class='divider'></div>
<div id='project-container'>
  <div id='project-one'></div>
  <div id='project-two'></div>
  <div id='project-three'></div>
</div>
<div class='clear'></div>