<h2>Portfolio</h2>
<p class='italic'>Some Recent Projects</p>
<div class='divider'></div>
<div id='project-container'>
  <div class='full-width-project'>
    <%= image_tag "backlyne.png", id: 'backlyne' %>
  </div>
  <div class='left-project'>
    <%= image_tag "backlyne.png", id: 'backlyne' %>
  </div>
  <div class='right-project'>
    <%= image_tag "backlyne.png", id: 'backlyne' %>
  </div>
  <div class='clear'>
  </div>
</div>
<div class='clear'></div>