footer {
  clear: both;
}

footer p {
  display: inline;
  font-style: italic;
  color: white;
  font-size: 1.5em;
  padding-right: 25px;
}

footer i {
  font-size: 4em;
  color: white;
  margin: 0.5em 0.5em 0 0;
  position: relative;
  top: 0.2em;
}

img#logo {
  margin: 1.5em 0;
  float: left;
  width: 300px;
  margin-left: 6em;
}

#footer-links {
  float: right;
}

#footer-links i:hover {
  color: #00D5FF;
}

@media (max-width: 540px) {
  #footer-links p {
    display: none;
  }
  #footer-links i {
    font-size: 3em;
  }
}