body {
  background-color: #333;
  background-image: url('colors.png');
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: #333;
  text-align: center;
}

#filter {
  background: rgba(20,20,20, 0.15);
  margin: -8px -8px;
}

.filter {
  background: rgba(20,20,20, 0.15);
  position: relative;
  z-index: 2;
}

a {
  color: #333;
}

.italic {
  font-style: italic; 
}

.clear {
  clear: both;
}

#nav-links {
  float: right;
  margin: 2em 1em 0 0;
}

#nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding-right: 1.5em;
}

#nav-links a:hover {
  color: #00D5FF;
}

#top-content {
  height: 0;
  padding-bottom: 40%;
}

#welcome-image {
  text-align: center;
  clear: both;
  position: relative;
}

#welcome-image img {
  width: 50%;
  margin: 6em 0;
}

#about-me-content {
  display: none;
  position: relative;
  left: -100%;
  top: 1em;
  clear: both;
  background: rgba(20,20,20, 0.5);
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 1.7em;
  font-style: italic;
  border-radius: 24px;
}

#contact-me {
  visibility: hidden;
}

#about-me-content h2 {
  padding: 1.5em 0 0 3em;
  text-align: left
}

img#matt {
  float: right;
  width: 15%;
  padding: 1em 4em 0 0;
}

.column-one {
  float: left;
  width: 42%;
  margin-left: 4%;
}

.column-one p {
  text-align: right
}

.column-two {
  float: right;
  width: 45%;
  margin-right: 4%;
}

.column-two p {
  text-align: left;
}

div.collapsible {
  margin: 0 -8px;
  background-color: white;
  clear: both;
  box-shadow: 0px 8px 0px #333;
}

.collapsible h2 {
  font-size: 3.5em;
  font-weight: 200;
  margin-bottom: 0px;
  padding-top: 0.7em;
}
